appdirs==1.4.4
appnope==0.1.0
async-generator==1.10
attrs==20.3.0
cassandra-driver==3.24.0
coverage==5.3
Cython==0.29.21
decorator==4.4.2
flake8==3.8.4
ipdb==0.13.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
mccabe==0.6.1
packaging==20.8
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.3
pyparsing==2.4.7
pytest==6.2.0
pytest-asyncio==0.14.0
pytest-cov==2.10.1
simplegeneric==0.8.1
six==1.15.0
tox==3.20.1
traitlets==5.0.5
virtualenv==20.2.2
wcwidth==0.1.7
